* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
}

/*

#F65A28
#de302f 

*/

hr{
    background: gainsboro;
    border: #777;
    width: 2px;
}


header {
    margin: 10px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 10vh;
    /* border: 2px solid  darkblue ; */
}

header .top_header {
    width: 50%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .top_header img {
    /* border: 2px solid  darkblue ; */
    height: 10vh;
    cursor: pointer;
}

header .last_header {
    width: 50%;
    height: 10vh;
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    justify-content: center;
}

header .last_header img {
    height: 50px;
}

header .last_header p {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    font-size: 1.3rem;
    font-weight: lighter;
    cursor: pointer;
}

header .last_header span {
    font-weight: bold;
    color: #de302f;
}


nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 7vh;
    position: relative;
    border-bottom: 1px solid gray;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul a {
    text-decoration: none;
}

nav ul a li {
    padding: 22px 25px 24px;
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    position: relative;
    font-size: 13px;
    transition: .1s;
}


nav ul a li:hover {
    padding-bottom: 30px;
    border-bottom: 2px solid #de302f;
    color: #de302f;
}


nav .nav_btn {
    text-decoration: none;
    color: #fff;
    background: #F65A28;
    margin-left: 80px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    padding: 22px 30px;

}

.bg {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.637), rgb(0, 0, 0)), url("/Asset/photo-slide-1.png");
    object-fit: cover;
    /* padding: 250px; */
    /* border: 2px solid rebeccapurple; */

}

.bg .slider-content {
    /* border: 2px solid saddlebrown; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20vw;
}

.bg .slider-content h2 {
    font-size: 3rem;
    text-align: right;
    color: #fff;
}

.bg .slider-content p {
    color: #fff;
    font-size: 2rem;
}

.bg_btn {
    color: #fff;
    border-radius: 50px;
    text-decoration: none;
    padding: 10px;
    width: 200px;
    text-align: center;
    margin-left: 400px;
    background: #F65A28;
}

/* Second Divion */
.section_pad {
    margin :80px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.section_pad .pull_right {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid saddlebrown; */
    width: 100vw;
}

.section_pad img {
    width: 30vw;
    /* height: 40vh; */
    object-fit: cover;
}

.section_pad .pull_right .about {
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    height: 50vh;
    text-align: left;

}

.section_pad .pull_right .about h3 {
    color: #d1d1d1;
    font-size: 1.4rem;
    /* text-indent: 0px; */
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
}

.section_pad .pull_right .about h2 {
    font-size: 2rem;
    color: #222;
    margin-bottom: 20px;
    letter-spacing: 1;
    font-weight: 600;
    text-transform: uppercase;

}

.section_pad .pull_right .about p {
    font-size: 15px;
    font-weight: 300;
    /* margin-bottom: 10px; */
    text-align: left;
    line-height: 2;
    color: #777;
}

.section_pad .pull_right .about .about_btn {
    border: 2px solid #F65A28;
    padding: 10px 5px;
    text-align: center;
    color: #F65A28;
    margin-top: 30px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    width: 200px;
    align-items: center;
    /* background-color: #F65A28; */
    
    
}


.more-than-you {
    /* width: 50vw; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    height: 50vh;
    text-align: left;
    margin-left: 30px;
    /* border: 2px solid #74280f; */
}

.more-than-you .section-header h1 {
    font-size: 1rem;
    font-weight: 300;
}

.more-than-you ul{
    /* width: 20vw; */
    /* border: 2px solid salmon; */
    display: flex ;
    text-align: left;
    flex-direction: column;
    justify-content: center;
    line-height: 2;
    color: #777;
    list-style: url("/Asset/bullet.png");
}
.more-than-you ul li , .more-than-you p {
    color: #777;
    width: 30vw;
}


/* third Division */
.third{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80vh;
    width: 100vw;
    background: #777;
    border: 2px solid salmon;
}
.third_sec{
    /* overflow: hidden; */
    align-items: center;
    background: #777;
    display: flex;
}


.third_sec .section_img{
    height: 40vh;
    width: 40vw;
}

.third_sec .row_1{
    /* border: 2px solid saddlebrown; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40vh;
    width: 30vw;
    /* padding: 0 50px; */
    margin: 50px;
}

.third_sec .row_1 .context{
    /* border: 2px solid salmon; */
    width: 40vw;
    padding: 50px;
    text-align: left;
}

.third_sec .row_1 .context h3{
    color: #F65A28;
    font: 2rem;
}

.third_sec .row_1 .context h2{
    color: #fff;
    font: 1rem;
    
}

.third_sec .row_1 .context p{
    color: #fff;

}

.third_sec .context_2{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: left;
    background: #fff;
    height: 40vh;
    width: 40vw;    
    margin: 50px;
    padding: 50px;
}

.third_sec .context_2 .row{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    
}

.third_sec .context_2 .row h2{
    padding-left: 15px;
}