* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
}

html,
body {
    width: 100vw;
    height: 100vh;
}

/*

#F65A28
#de302f 

*/

hr {
    background: gainsboro;
    border: #777;
    width: 2px;
}


header {
    margin: 10px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 10vh;
    /* border: 2px solid  darkblue ; */
}

header .top_header {
    width: 50%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .top_header img {
    /* border: 2px solid  darkblue ; */
    height: 10vh;
    cursor: pointer;
}

header .last_header {
    width: 50%;
    height: 10vh;
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    justify-content: center;
}

header .last_header img {
    height: 50px;
}

header .last_header p {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    font-size: 1.3rem;
    font-weight: lighter;
    cursor: pointer;
}

header .last_header span {
    font-weight: bold;
    color: #de302f;
}


nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 7vh;
    position: relative;
    border-bottom: 1px solid gray;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul a {
    text-decoration: none;
}

nav ul a li {
    padding: 22px 25px 24px;
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    position: relative;
    font-size: 13px;
    transition: .1s;
}


nav ul a li:hover {
    padding-bottom: 30px;
    border-bottom: 2px solid #de302f;
    color: #de302f;
}


nav .nav_btn {
    text-decoration: none;
    color: #fff;
    background: #F65A28;
    margin-left: 80px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    padding: 22px 30px;

}

.bg {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.637), rgb(0, 0, 0)), url("/Asset/photo-slide-1.png");
    background-repeat: no-repeat;
    object-fit: cover;
    /* padding: 250px; */
    /* border: 2px solid rebeccapurple; */

}

.bg .slider-content {
    /* border: 2px solid saddlebrown; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20vw;
}

.bg .slider-content h2 {
    font-size: 3rem;
    text-align: right;
    color: #fff;
}

.bg .slider-content p {
    color: #fff;
    font-size: 2rem;
}

.bg_btn {
    color: #fff;
    border-radius: 50px;
    text-decoration: none;
    padding: 10px;
    width: 200px;
    text-align: center;
    margin-left: 400px;
    background: #F65A28;
}

/* Second Divion */
.section_pad {
    margin: 80px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.section_pad .pull_right {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid saddlebrown; */
    width: 100vw;
}

.section_pad img {
    width: 30vw;
    /* height: 40vh; */
    object-fit: cover;
}

.section_pad .pull_right .about {
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    height: 50vh;
    text-align: left;

}

.section_pad .pull_right .about h3 {
    color: #d1d1d1;
    font-size: 1.4rem;
    /* text-indent: 0px; */
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
}

.section_pad .pull_right .about h2 {
    font-size: 2rem;
    color: #222;
    margin-bottom: 20px;
    letter-spacing: 1;
    font-weight: 600;
    text-transform: uppercase;

}

.section_pad .pull_right .about p {
    font-size: 15px;
    font-weight: 300;
    /* margin-bottom: 10px; */
    text-align: left;
    line-height: 2;
    color: #777;
}

.section_pad .pull_right .about .about_btn {
    border: 2px solid #F65A28;
    padding: 10px 5px;
    text-align: center;
    color: #F65A28;
    margin-top: 30px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    width: 200px;
    align-items: center;
    /* background-color: #F65A28; */


}


.more-than-you {
    /* width: 50vw; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    height: 50vh;
    text-align: left;
    margin-left: 30px;
    /* border: 2px solid #74280f; */
}

.more-than-you .section-header h1 {
    font-size: 1rem;
    font-weight: 300;
}

.more-than-you ul {
    /* width: 20vw; */
    /* border: 2px solid salmon; */
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: center;
    line-height: 2;
    color: #777;
    list-style: url("/Asset/bullet.png");
}

.more-than-you ul li,
.more-than-you p {
    color: #777;
    width: 30vw;
}


/* third Division */
.third {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    width: 100vw;
    background: #777;
    /* border: 2px solid salmon; */
}

.third_sec {
    /* overflow: hidden; */
    align-items: center;
    /* background: #777; */
    display: flex;
}


.third_sec .section_img {
    height: 40vh;
    width: 40vw;
}

.third_sec .row_1 {
    /* border: 2px solid saddlebrown; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40vh;
    width: 30vw;
    /* padding: 0 50px; */
    margin: 30px;
}

.third_sec .row_1 .context {
    /* border: 2px solid salmon; */
    width: 40vw;
    padding: 50px;
    text-align: left;
}

.third_sec .row_1 .context h3 {
    color: #F65A28;
    font: 2rem;
}

.third_sec .row_1 .context h2 {
    color: #fff;
    font: 1rem;

}

.third_sec .row_1 .context p {
    color: #fff;

}

.third_sec .context_2 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: left;
    background: #fff;
    height: 40vh;
    width: 40vw;
    margin: 30px;
    padding: 30px;
}

.third_sec .context_2 .row {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    align-items: center;
    padding: 50px;

}

.third_sec .context_2 .row h2 {
    padding-left: 15px;
}

/* Fourth sec */
.fourth_sec {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F65A28;
    z-index: -1;
    /* background-image: url("/Asset/counter-bg.jpg"); */
    /* filter: hue-rotate(336deg); */
    color: #d1d1d1;
    height: 40vh;
}

.fourth_sec .border {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}



.fourth_sec .staticbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: #000; */
    height: 200px;
    width: 300px;
    position: relative;
    top: 0;
    left: 0;
}

.fourth_sec .img_box {
    width: 300px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    /* background: #773a3a; */
}

.fourth_sec .staticbox h3 {
    /* background: #000; */
    /* margin-bottom: 90px; */
    position: relative;
    top: -30px;
}

.fourth_sec .staticbox p {
    font-size: 3rem;
    color: #fff;
    font-weight: bold;
}


/* Our */

.our {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.our .para, .cleint_box .para {
    margin: 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.our .para h4, .cleint_box .para  h4 , .custumer h2, .custumer img{
    margin: 10px 0;
}

.our .para img , .cleint_box .para img{
    margin: 05px 0;
    width: 100%;
    z-index: 1;
}

.our .section_para .box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width: 20vw;
}

.our .section_para .box::before{
    content: "";
    height: 65px;
    transform: skewY(-10deg);
    position: absolute;
    bottom: -35px;
    right: 0;
    left: 0;
    background: #ffffff;
    z-index: 1;
}


.our  .context_box{
    z-index: 5;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 500px;
    /* color: #fff; */
}

.our  .context_box::before{
    /* width: 300px; */
    height: 500px;
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    transform: skewY(-10deg);
    background: #742626;
    
}

/*  ^^^^^^^^^^^^^^^^ work on this section ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */


/* Cleint */

.cleint_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cleint_box .cleint_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
} 

.cleint_box .cleint_logo img{
    width: 150px;
    filter: grayscale(100%);
}

/* custumer */
.custumer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 100%;
    background-image: linear-gradient(rgb(251 243 243), rgba(255, 252, 252, 0.945), rgb(255 252 252)) , url("/Asset/photo-slide-1.webp");
    background-repeat: no-repeat;
    
}

.custumer p{
    width: 60vw;
    /* background: #000; */
    line-height: 2;
    padding: 80px 0;
    font-size: 1.2rem;
    color: #777;

}



footer{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    /* height: 40vh; */
    background: #6C777F;
}
footer .upper{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .lower_footer{
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px 0;
    color: #fff;
}

